section {
  margin: 0 auto;
  color: #94c817;
  background: white;
  border-radius: 3px;
  width: 90%;
  box-shadow: 0px 1px 1.5px 1px #cccccc;
}

/*section should be wider on phone screens*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  section {
    margin: 0 auto;
    color: #94c817;
    background: white;
    border-radius: 5px;
    width: 95%;
    box-shadow: 0px 1px 1.5px 1px #cccccc;
  }
}

/*badge icons*/
.material-icons.mdl-badge.mdl-badge--overlap {
  font-size: 200%;
  color: black;
  text-decoration: none;
}

/*Checkout*/
.shoppingList {
  background: #f0f9fc;
}
.plusMinusButtonsShoppingList {
  margin-top: -5;
  padding: 0 !important;
}
.shoppingListCart {
  min-height: 0 !important;
}
.shoppingListCardTitle {
  display: block !important;
  padding: 10 10 0 10 !important;
}
.shoppingListCardTitle > h2 {
  font-size: 12px !important;

  display: inline;
}
.productListItem {
  padding: 0 0 10 0 !important;
}
.shoppingListContent {
  padding: 0px 0 !important;
  margin: 0 !important;
}
.shoppingListCardTitle > h3 {
  float: right;
  text-align: right;
  position: absolute;
  font-size: 10px !important;
  bottom: 30%;
  right: 3%;
}
.deleteProductFromList {
  text-align: right;
  float: right;
  margin: -2.5 0 0 0;
}
.shoppinglistThumbnails {
  float: left;
  width: 40% !important;
  margin: 0 !important;
}

.cartButton {
  border-radius: 0 0 1px 1px !important;
}

.plusMinusButtons {
  padding: 0 !important;
  display: none;
}

.plusminButton {
  display: inline !important;
  float: left;
  color: white !important;
  width: calc(33.3333333333%);
}

.plusminButton:disabled {
  background-color: #8a9d5e !important;
}

.productAmount {
  float: left;
  display: inline !important;
  width: calc(33.3333333333%);
  color: white !important;
}
.mdl-card__supporting-text {
  padding: 3px !important;
}

.mdl-card--border {
  background: #94c817 !important;
}

.mdl-card__actions {
  color: white !important;
}

#buttons_div {
  display: inline;
}

/*footer*/

.mdl-mega-footer {
  background-color: #2196f3 !important;
  color: white;
}

.footerlogo {
  width: 50%;
}
.mdl-mega-footer__heading {
  margin: 0;
  padding: 0 !important;
}
.footerRight {
  /*width: 75% !important;
      float: left;
      text-align: right;
      display: inline;*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 750px) {
  .footerRight {
    width: 100% !important;
    text-align: left;
  }
}
