/* CUSTOM HELPERS */
.is-blurred {
  overflow-x: hidden;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
.align-center {
  text-align: center !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover,
.hvr-backward:focus,
.hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
/* put on parent element */
.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center !important;
}

/* END CUSTOM HELPERS */
@media (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1024px) and (min-width: 513px),
  (max-width: 1024px) and (min-resolution: 1.5dppx) and (min-width: 513px),
  (-webkit-max-device-pixel-ratio: 1.5) and (max-width: 2048px),
  (max-resolution: 1.5dppx) and (max-width: 2048px) {
  body::before {
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea7aeb5fc4e3623a3f16af817ec12129&auto=format&fit=crop&w=1355&q=80");
  }
}

body::before {
  background-size: cover;
  background-attachment: fixed;
  content: "";
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}
body {
  display: flex;
  min-height: 100vh !important;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.mdl-layout__header-row {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
header a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.groceryBilka {
  max-height: 50px;
}
.mdl-layout__title img {
  max-height: 50px;
}
.material-icons.mdl-badge.mdl-badge--overlap:hover {
  transition: 200ms;
  color: rgb(202, 202, 202);
}
.material-icons.mdl-badge.mdl-badge--overlap {
  font-size: 250%;
  color: black;
  text-decoration: none;
}
.mdl-layout__header {
  background-color: white;
  color: black;
}

.footerlogo {
  width: 50%;
}
.mdl-mega-footer__heading {
  margin: 0;
  padding: 0 !important;
}
.footerRight {
  /*width: 75% !important;
    float: left;
    text-align: right;
    display: inline;*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 750px) {
  .footerRight {
    width: 100% !important;
    text-align: left;
  }
  /*fix footer*/
  .mdl-cell--6-col .mdl-cell--12-col,
  .mdl-cell--12-col-phone,
  .mdl-cell--12-col-phone {
    width: 100% !important;
  }
}
/* AUTH MODAL STYLING */
* {
  box-sizing: border-box;
}

/* Full-width input fields */
  .user-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.user-input:focus{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
#auth .modal-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#auth button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
#auth .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#auth .cancelbtn, #auth .signupbtn {
  float: left;
  width: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for key elements on change to width <1000px */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
dialog#auth.mdl-dialog {
    width: -webkit-fit-content;
    padding: 0;
    width: 1000px;
    height: 911px;
}
dialog#auth .mdl-dialog__content {
  padding: 0 !important;
}
.side-pic img {
  width: 490px;
  height: 911px;
  object-fit: cover;
}
#auth .user-form {
  padding-top: 25px;
}
@media (min-width: 1000px){
  #auth .mdl-grid { 
   padding: 0 !important;
  }
  #auth .mdl-cell {
    margin: 0 !important;
  }
}
@media (max-width: 1000px){
  .side-pic img {
    display: none;
  }
  .is-blurred{
    overflow-y: visible !important;
  }
  dialog#auth.mdl-dialog {
    width: -webkit-fit-content;
    padding: 0;
    width: auto;
}
  #auth .mdl-cell--6-col, #auth .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
    width: 100% !important;
    align-content: center;
    padding-right: 2rem !important;
    
  }
  .mdl-layout__title img {
    max-height: 25px;
  }
  .mdl-layout__header-row {
    padding-left: 1rem !important;
    padding-right: .5rem !important;
  }
  .crossroad h1 {
    max-height: 250px;
  }
  .crossroad h1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
