#products {
  margin: 0 auto;
  padding: 3%;
}

body {
  background: #f0f9fc;
}
.banner {
  width: 100%;
}

section {
  margin: 0 auto;
  color: #94c817;
  background: white;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0px 1px 1.5px 1px #cccccc;
}

#searchField {
  text-align: center;
  margin: 0 auto;
  color: #94c817;
  background: white;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0px 1px 1.5px 1px #cccccc;
  height: 15%;
}
/*products card layout*/
.mdl-card__title-text {
  color: #94c817 !important;
}

.mdl-card__supporting-text > img {
  width: 50%;
}

.mdl-card--border {
  background: #ff007f !important;
}

.mdl-card__actions {
  color: white !important;
}

.thumbnail {
  width: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

#buttons_div {
  display: inline;
}

#button_add,
#button_remove {
  margin-left: 5px !important;
  margin-right: 5px !important;
  height: 36px !important;
  min-width: 36px !important;
  border: 2px solid black;
}
#button_add:hover,
#button_remove:hover {
  background-color: black;
  color: white;
}

.mdl-grid {
  text-align: center;
}
.material-icons.mdl-badge.mdl-badge--overlap {
  font-size: 200%;
  color: black;
  text-decoration: none;
}

/*Important, otherwise cards overlap*/
.mdl-cell {
  display: flex;
}
/*Important, otherwise cards overlap*/
.mdl-card {
  width: auto;
  flex: 1;
}

.mdl-chip {
  width: auto;
  flex: 1;
  color: white !important;
  background: rgb(105, 145, 19) !important;
}

.mdl-chip:hover {
  background: #94c817 !important;
}
.chipToggle {
  background: #94c817 !important;
}

/*#94c817*/
