@media (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1024px) and (min-width: 513px), 
(max-width: 1024px) and (min-resolution: 1.5dppx) and (min-width: 513px),
(-webkit-max-device-pixel-ratio: 1.5) and (max-width: 2048px), 
(max-resolution: 1.5dppx) and (max-width: 2048px) {
    body::before {
        background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea7aeb5fc4e3623a3f16af817ec12129&auto=format&fit=crop&w=1355&q=80') ;
    }
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  

body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}


.mdl-card {
    width: unset !important;
}
.card-image.mdl-card#grocery {
    min-height: 600px;
    max-height: 85vh;
    background: url('/Frontend/img/shoppingCart.jpg') center / cover;
}
.card-image.mdl-card#booking {
    min-height: 600px;
    max-height: 85vh;
    background: url('/Frontend/img/bookatable.jpg') center / cover;
}
.card-image.mdl-card:hover {
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.crossroad {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    display: flex;
    justify-content: center;
}
.crossroad .mdl-card {
 height: 100% !important;
 cursor: pointer;
}
.crossroad h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    top: 50%;
    position: relative;
    white-space: nowrap;
    color: white;
    
}
#grocery img, #booking img{
  max-height: 120px !important;
}
#grocery:hover h1, #booking:hover h1{
    background-color: rgba(0, 0, 0, .5) !important;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
dialog#auth.mdl-dialog {
    width: -webkit-fit-content;
}


  